* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body {
  height: 100vh;
}

.box_container {
  margin: 0 30px;
  display: grid;
  grid-gap: 14px;
  grid-template-columns: repeat(3, auto);
}

.box {
  height: 100px;
  width: 100px;
  background-color: powderblue;
  border: 1px solid black;
  cursor: pointer;
}

.circle,
.cross {
  height: 95px;
  width: 95px;
  box-sizing: border-box;
  background-color: white;
}

.circle {
  border-radius: 50%;
  border: 15px solid rgba(10, 216, 10, 0.758);
}

.cross {
  position: relative;
  border: none;
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  background-color: rgb(220, 113, 5);
}

.cross::before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
  transform: rotate(-45deg);
}

.cross::after {
  width: 30%;
  height: 100%;
  margin-left: 35%;
  transform: rotate(45deg);
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: grey;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.h1,
.message {
  font-weight: bold;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: tomato;
}

@media screen and (min-width: 768px) {
  .box_container {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
  }

  .box {
    height: 150px;
    width: 150px;
  }

  .circle,
  .cross {
    height: 140px;
    width: 140px;
  }
}

@media screen and (min-width: 1024px) {
  .box_container {
    grid-gap: 12px;
  }

  .box {
    height: 140px;
    width: 140px;
  }

  .btn:hover {
    background-color: salmon;
    color: black;
  }
}
